.mainContainer {
  padding: 0 15%;
}

.topProfileDiv {
  padding: 20px 40px;
  background-color: #FFF1C9 !important;
}

@media screen and (max-width: 1080px) {
  .mainContainer {
    padding: 0 0;
  }
}

@media screen and (max-width: 525px) {
  .topProfileDiv {
    padding: 10px 20px;
  }
}
