.drawing-area {
  position: absolute;
  top: 0px;
  z-index: 10;
  width: 470px;
  height: 612x;
}

.canvas-container {
  width: 470px;
  height: 612px;
  position: relative;
  user-select: none;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #1f649f;
}

#tshirt-div {
  width: 452px;
  height: 548px;
  position: relative;
  background-color: #fff;
}

.canvasSet {
  position: absolute;
  width: 470px;
  height: 612px;
  left: 0px;
  top: 0px;
  user-select: none;
  cursor: default;
}

.rowImg {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.columnImg {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.columnImg img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .columnImg {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columnImg {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}