.drawing-area {
  position: absolute;
  top: 0px;
  z-index: 10;
  width: 470px;
  height: 612x;
}

.canvas-container {
  width: 470px;
  height: 612px;
  position: relative;
  user-select: none;
}

#tshirt-div {
  width: 452px;
  height: 548px;
  position: relative;
  background-color: #fff;
}

.canvasSet {
  position: absolute;
  width: 470px;
  height: 612px;
  left: 0px;
  top: 0px;
  user-select: none;
  cursor: default;
}
