.whyPrintribeBtn:hover {
  background-color: #b12f26 !important;
}

.signup {
  background-color: #ee3c2f;
  display: flex;
  justify-content: space-between;
  padding: 80px 20px;
  margin-bottom: 100px;
}

.signup div {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.signup div h3 {
  width: 35%;
  text-align: center;
}

.signup div button {
  border: 1px solid #fff;
  width: 20%;
  color: #fff !important;
  font-size: 16px;
  border-radius: 40px;
  font-weight: 600;
}

.signup div button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #ee3c2f !important;
}

@media (max-width: 1150px) {
  .signup {
    padding: 50px 20px;
  }

  .signup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .signup div {
    margin-left: auto;
    margin-top: 40px;
  }

  .signup div h3 {
    width: 50%;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .signup {
    padding: 50px 20px;
  }

  .signup div{
    width: 90%;
  }

  .signup div h3 {
    width: 50%;
    text-align: center;
  }

  .signup div button {
    width: 200px;
    text-align: center;
  }
}

@media (max-width: 600px) {
    .signup {
      padding: 30px 20px;
    }

    .signup img{
        margin:0 auto;
    }
  
    .signup div{
      width: 100%;
    }
  
    .signup div h3 {
      width: 70%;
      text-align: center;
      transform:scale(0.8);
    }
  
    .signup div button {
      width: 200px;
      text-align: center;
      transform:scale(0.8);
    }
  }

  @media (max-width: 500px) {
    .signup {
      padding:20px;
    }

    .signup div{
        flex-direction: column;
        align-items: center;
    }
  
    .signup div h3 {
      width: 100%;
      text-align: center;
    }
  
    .signup div button {
      width: 200px;
      text-align: center;
      padding:15px;
    }
  }