.ti {
  width: 20%;
  padding-top: 10px;
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  /* float: left; */
}

.ti img {
  width: 100%;
}

.ti > div:hover {
  border: 3px solid black;
}

.fi {
  width: 100%;
  /* margin-left: 20%; */
  text-align: center;
  padding: 25px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fi > img {
  width: 80%;
}

.accordion-button:focus {
  box-shadow: none;

  color: wheat;
  border: none !important;
}
.accordion-button:not(.collapsed) {
  box-shadow: none !important;

  color: wheat;
  border: none !important;
}

.sizes {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}
.sizes:hover {
  cursor: pointer;
  background-color: rgb(49, 41, 41);
  color: white;
}
.sizes:focus {
  background-color: black;
}
.colors:hover {
  cursor: pointer;
}
